@import url(https://fonts.googleapis.com/css?family=Oswald:700,400);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);

body {
	margin: 0;
	font-family: 'Roboto','sans-serif';
  	font-weight: 400;
  	color:  #222222;
}

html, body {height: 100%;}

nav {
	background-color: #4CAF50;
	font-size: 16px;
	box-shadow: 0 3px 6px rgba(2,2,2,0.3);
	width: 100%;
	height: 80px;
	top: 0;
	position: fixed;
	z-index: 1;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  border: solid 1px #DCDCDC;
  transition: box-shadow 0.3s, border 0.3s;
  appearance: none;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #909090;
  box-shadow: 0 0 5px 1px rgba(96,96,96,0.30);
  outline: none;
}

button, input[type="submit"] {
	padding: 10px 20px;
	border: 0px;
	border-radius: 5px;
	color: rgba(255,255,255,0.9);
	background-color: #4CAF50;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(20,20,20,0.25);
	box-shadow: 2px 2px 4px 0 rgba(10,10,10,0.5);
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	outline: none;
	cursor: pointer;
}

button:hover, input[type="submit"]:hover {
	box-shadow: 2px 2px 6px 2px rgba(10,10,10,0.5);
	background-color: #66BB6A;
	outline: none;
}

.brand-logo-nav {
	margin: 10px 0 0 20px;
	float: left;
	list-style-type: none;
}

a.brand-logo {
	width: 55px;
	height: 60px;
}

a.brand-logo img {
	transition: all 0.3s;
}

a.brand-logo img:hover {
	filter: saturate(120%);
	-webkit-filter: saturate(120%);
	-moz-filter: saturate(120%);
	-o-filter: saturate(120%);
	-ms-filter: saturate(120%);
}

ul.right-nav {
	margin: 0 30px 0 0;
	padding: 0;
	list-style-type: none;
	float: right;
	text-align: center;
}

ul.right-nav li {
	display: inline;
}

ul.right-nav li a {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 30px;
	padding-bottom: 31px;
	margin: 0;
	color: #FFFFFF;
	transition: background-color 0.2s;
}

ul.right-nav li a:hover {
	background-color: #2E7D32;
}

/* Container */

.container {
	min-height: 100%;
  	/* equal to footer height */
	margin: auto;
	overflow: hidden;
  	margin-bottom: -64px !important;
}

.container:after {
  content: "";
  display: block;
}

.inner-container {
	min-width: 1000px;
	width: 70%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.nav-filler {
	width: 100%;
	height: 80px;
	background-color: #4CAF50;
}

/* Home */

.extended-image {
	width: 100%;
	overflow: auto;
	box-shadow: inset 0px 0px 100px 10px rgba(0,0,0,1);
}

.extended-image h1, .extended-image h2 {
	color: #EEEEEE;
	font-family: 'Oswald', sans-serif;
}

.extended-image h1 {
	margin: 60px 0 0 200px;
	font-weight: 700;
	font-size: 100px;
	text-shadow: 2px 3px 6px rgba(30, 30, 30, 0.75);
}

.extended-image h2 {
	margin: 30px 0 0 200px;
	font-weight: 400;
	font-size: 32px;
	text-shadow: 2px 3px 6px rgba(30, 30, 30, 0.75);
}

#home-image {
	background-image: url("../img/home-header-black.jpg");
	height: 350px;
}

/* Home table */

table {
	margin-top: 40px;
	margin-bottom: 40px;
	width: 100%;
	border: 0;
	text-align: center;
}

td, th {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	vertical-align: top;
}

th {
	font-size: 30px;
	font-weight: 900;
  	color:  #4CAF50;
}

.three-row {
	width: 33.3%;
	padding-left: 60px;
	padding-right: 60px;
}

/* Titles */
.title {
	margin-top: 16px;
	margin-bottom: 8px;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(20,20,20,0.25);
	color: #4CAF50;
}

.title h1 {
	font-weight: 900 !important;
	font-size: 40px;
	display: inline;
}

.title h2 {
	font-weight: 900 !important;
	font-size: 28px;
	display: inline;
}

/* Offerts section */
#offerts li, #products li {
	list-style-type: none;
	display: inline-block;
}

#offerts, #products {
	width: 920px;
	margin: auto;
  	padding-left: 0px;
}

/* Product block */
.product-wrapper {
	background-color: #EEEEEE;
	box-shadow: 1px 1px 4px rgba(30,30,30,0.4);
	border-radius: 5px;
	width: 380px;
	height: 140px;
	overflow: hidden;
	display: inline-block;
	margin: 20px 40px 20px 40px;
}

.product-image {
	width: 140px;
	height: 140px;
	overflow: hidden;
	float: left;
	background-color: #F5F5F5;
}

.product-name, .product-description, .product-qnt-wrapper {
	overflow: hidden;
	margin-left: 150px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.product-name {
	margin-top: 10px;
	font-size: 22px;
	font-weight: 700;
	color: #181818;
	height: 22px;
}

.product-description {
	margin-top: 10px;
	height: 51px;
	font-size: 14px;
	font-weight: 400;
	color: #424242;
	overflow: auto;
}

.product-qnt-wrapper {
	margin-top: 11px;
	height: 38px;
}

.product-qnt-wrapper table {
	margin: 0px;
	width: 119px;
	table-layout: fixed;
}

.product-qnt-wrapper tr td {
	margin: 0px;
	padding: 0px;
	border: 0px;
	text-align: center;
	vertical-align: middle;
	height: 100%;
}

.product-qnt {
	width: 55px;
	font-size: 16px;
	color: #616161;
	padding-bottom: 3px !important;
}

.product-price-wrapper {
	float: right;
	position: relative;
	top: -39px;
	padding: 8px;
	font-size: 16px;
	color: #616161;
}

.material-icons {
	font-size: 30px !important;
	color: rgba(117,117,117,0.75);
}

.material-icons:hover {
	color: rgba(117,117,117,1);
}

/* Shop */
.filter-wrapper {
	margin: auto;
	padding: 16px;
	width: 920px;
	border-left: 5px solid #4CAF50;
}

.filter-wrapper a {
	color: #9E9E9E;
	text-decoration: none;
}

.filter-wrapper a:hover {
	color: #9E9E9E;
	text-decoration: underline;
}

.reset-cart {
	right: 0;
}

/* user */

.user-setting-table {
	width: 650px !important;
	margin: auto;

}

.extended-input {
	width: 100%;
}

.submit {
	width: 100px;
	margin: auto;
}

.error {
	color: #F44336;
}

/* Cart */

.product-review-wrapper {
	display: block;
	width: 650px;
	margin: auto;
	overflow: hidden;
	border-radius: 10px;
	border: 1px solid rgba(100,100,100,0.5);
	padding: 0;
}

.product-review-wrapper li {
	display: block;
	border-bottom: 1px solid #BDBDBD;
	border-top: 1px solid #BDBDBD;
	list-style-type: none;
	margin: -1px 0 -1px 0;
	padding-left: 15px;
}

.product-review-wrapper li.header,
.product-review-wrapper li.header:hover
{
	font-weight: bold;
	background-color: #F5F5F5;
}

.product-review-wrapper li div {
	display: inline-block;
	width: 478px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.product-review-wrapper li div.product-number, 
.product-review-wrapper li div.product-price {
	text-align: center;
	border-left: 1px solid #BDBDBD;
}

.product-review-wrapper li div.product-number {
	width: 55px;
}

.product-review-wrapper li div.product-price {
	width: 100px;
}

.product-review-wrapper li:hover {
	background-color: #A5D6A7;
}

.center-text {
	text-align: center;
	margin-bottom: 26px;
}

.big-button {
	color: #FFFFFF;
	padding: 14px 28px;
	font-size: 18px;
	margin-top: 20px;
}

#pay {
	display: none;
	color: #FFFFFF;
}

/* About */

.about-wrapper {
	width: 650px;
	margin: 22px auto;
}

.about-wrapper h1 {
	color: #4CAF50;
	font-weight: 900;
	font-size: 18px;
	margin: 4px 0;
}

/* Footer */

.footer, .container:after {
  height: 64px; 
}

.footer {
	background-color: #272822;
	box-shadow: 0 3px 6px rgba(2,2,2,0.3) inset;
	color: #E0E0E0;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
}

.footer a {
	text-decoration: none;
	color: #B8B8B8;
}

.footer a:hover {
	text-decoration: underline;
	color: #E0E0E0;
}